NEXT_PUBLIC_API_URL=http://localhost:8080
API_URL=http://localhost:8080
RESELLER_API_URL=https://bandelbanget.xyz
RESELLER_API_KEY=rsl_ganti-dengan-key-reseller
RESELLER_SECRET=ganti-dengan-secret-reseller
